<div class="d-flex justify-content-center">
  <%= paginate @comments%>
</div>

<% comments.each do |comment| %>
  <%= render(partial: 'comments/comment', object: comment) %>
<% end %>


<div class="d-flex justify-content-center">
  <%= paginate @comments%>
</div>