<%= render 'shared/page_title', title: "showing all recipes"%>

<div align="center">
  <%= paginate @recipes%>
</div>

<%= render partial: 'recipe', locals: { obj: @recipes } %>


<div align="center">
  <%= paginate @recipes%>
</div>