$navbar-default-bg: #073B15;
$white-color: #fff;
$primary-color: #073B15;
$spacing: 20px;

@import "bootstrap";

.navbar {
  background-color: $navbar-default-bg;
  
  .navbar-nav .nav-link,
  .navbar-nav .dropdown-toggle {
    color: $white-color !important;
  }

  .d-flex {
    margin-left: auto;
  }

  .form-control {
    margin-right: 10px;
  }
}

.center {
  margin-top: $spacing;
  text-align: center;
}

.jumbotron {
  background-image: asset-url('anime-kitchen.jpg');
  background-size: cover;
  height: 300px;

  h1, h2 {
    color: $white-color;
    text-align: center;
    letter-spacing: -1px;
  }

  p {
    margin-top: $spacing;
  }
}

#logo {
  float: left;
  font-size: 1.7em;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: $white-color;
    text-decoration: none;
  }
}

.btn {
  background-color: $primary-color;
}

.row h2 {
  color: $primary-color;
}

.well {
  margin: 0 auto;
  text-align: center;
  background-color: #EAEAEA;
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
}

.created{
  margin: 50px;
  align-items: center;
}

.description {
  margin-top: $spacing;

}

.recipe-title {
  text-align: center;
  margin-bottom: $spacing;
}

.chef_info {
  margin-top: -10px;
}

.recipe-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  background-color: #EAEAEA;
  margin-left: 20px;
  flex-grow: 1;
}

.form-horizontal .form-group {
  margin-bottom: 15px;
  text-align: left;
  margin-left: 270px;
}

.form-horizontal .control-label {
  display: block;
  margin-bottom: 5px;
}

.form-horizontal .form-control {
  width: 100%;
}

.form-horizontal .btn {
  display: block;
  margin: 20px auto 0;
  margin-left: 200px;
}

.d-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.alert {
  width: 100%;
  text-align: center;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.btn-warning {
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
  color: #fff !important;
}

.btn-danger {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
  color: #fff !important;
}

.custom-primary-btn {
  background-color: #5bc0de !important;
  border-color: #46b8da !important;
  color: #fff !important;
}

.chat-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Mensagens */
.messages {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px;
  height: 400px; /* Ajuste conforme necessário */
  overflow-y: auto;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Mensagem individual */
.message {
  position: relative; /* Para posicionar o timestamp */
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 8px;
}

.message p {
  margin: 0;
}

.message .content {
  margin-left: 10px;
  line-height: 1.4;
}

.message img {
  border-radius: 50%;
}

.message small {
  color: #888;
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.8em; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Formulário de mensagem */
.message-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.message-container .form-control {
  flex: 1;
  margin-right: 10px;
  border-radius: 20px;
}

.message-container .btn {
  border-radius: 20px;
  padding: 10px 20px;
}

/* Ajustar alinhamento do botão */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}